@model IEnumerable<TimeTrack.Models.Task>
@{
    ViewData["Title"] = "Task List";
}
<h3>Task List</h3>
<body>
    <input type="search" id="searchrec" class="search" placeholder="Search Data ...!" />
    <table class="table" id="taskTable">
        <tr>
            <td>#</td>
            <td>TaskId</td>
            <td>Description</td>
            <td></td>
        </tr>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Id</td>
                <td><a href=@task.ProjectId>@task.ProjectId</a></td>
                <td>@task.Description</td>
                <td><a href="~/Home/Start/@task.Id">Старт</a></td>
            </tr>
        }
    </table>
    <!--#region Table row search  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".search").on("keyup", function () {
                var datasearch = $(this).val().toLowerCase();
                $("#taskTable tr").each(function () {
                    var stringdata = $(this).text().toLowerCase();
                    if (stringdata.indexOf(datasearch) === -1) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });
            });
        })
    </script>
    <!--#endregion -->
</body>