@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    </div>
@model IEnumerable<WebApplication1.Models.Work>
<body>
    <table>
        <tr>
            <td>Номер</td>
            <td>Ссылка</td>
            <td>Описание</td>
            @*<td>Цена</td>*@
            <td></td>
        </tr>
        @foreach (var work in Model)
        {
            <tr>
                <td>@work.Id</td>
                <td><a href=@work.Url>@work.Url</a></td>
                <td>@work.Description</td>
                <td><a href="~/Home/Start/@work.Id">Старт</a></td>
            </tr>
        }
    </table>
</body>