@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Добавление задания</title>
</head>
<body>
    <div>
        <h3>Форма добавления задания</h3>
        <p>Для добавления задания заполните следующие поля:</p>
        <form method="post">
            <input type="hidden" value="@ViewBag.WorkId" name="WorkId" />
            <table>
                <tr>
                    <td>Описание:</td>
                    <td><input type="text" name="Description" /> </td>
                </tr>
                <tr>
                    <td>С:</td>
                    <td><input type="datetime" name="Start" /></td>
                </tr>
                <tr>
                    <td>по:</td>
                    <td><input type="datetime" name="End" /></td>
                </tr>
                <tr><td><input type="submit" value="Добавить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>