@model IEnumerable<TimeTrack.Models.Task>
@{
    ViewData["Title"] = "Task List";
}
<h3>Task List</h3>
<body>
    <input type="search" id="searchrec" class="search" placeholder="Search Data ...!" />
    <table class="table" id="taskTable">
        <tr>
            <td>#</td>
            <td>TaskId</td>
            <td>Description</td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Id</td>
                <td><a href=@task.Id>@task.Id</a></td>
                <td>@task.Description</td>
                <td><a href="~/Home/Start/@task.Id">Старт</a></td>
                <td>
                    <link rel="stylesheet" href="~/css/discussion.css">
                    <a href="#" class="btn"></a>
                </td>
            </tr>
        }
    </table>
    <form method="POST">
        <label for="Description">Your Description</label>
        <input type="text" name="description" id="description" class="text-info" placeholder="What are you working on?" size="25" />
        <input type="submit" />
    </form>
    <!--#region Table row search  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".search").on("keyup", function () {
                var datasearch = $(this).val().toLowerCase();
                $("#taskTable tr").each(function () {
                    var stringdata = $(this).text().toLowerCase();
                    if (stringdata.indexOf(datasearch) === -1) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });
            });
        })
    </script>
    <!--#endregion -->
</body>

<div tabindex="0" title="Continue time entry" class="css-1jv4yir e1ohjrw70"><div class="css-m35kig e1ohjrw72"></div></div>
<div class=" e1o4ivbv0 css-vid3m3 e18w30ep0">
    <div tabindex="0" title="More actions" class="css-1bwa2ag e18w30ep2">
        <svg width="4" height="16" viewBox="0 0 4 16" class="css-vkhhdd e18w30ep1">
            <path fill="#cecece" fill-rule="evenodd" d="M0 2a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm0 12a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm0-6a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
        </svg>
    </div>
    <div class="PopdownV2__container css-0" tabindex="-1" data-ignore-global-hotkeys="true">
        <div class="css-1nrq5jk ekakxov0"></div>
        <div class="PopdownV2__popdown css-knt54p"></div>
    </div>
    <div class=" e1o4ivbv0 css-vid3m3 e18w30ep0" open="">
    <div tabindex="0" title="More actions" class="css-f0lkrf e18w30ep2" open="">
        <svg width="4" height="16" viewBox="0 0 4 16" class="css-vkhhdd e18w30ep1">
        <path fill="#cecece" fill-rule="evenodd" d="M0 2a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm0 12a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm0-6a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path></svg></div>
    <div class="PopdownV2__container PopdownV2__open css-0" tabindex="-1" data-ignore-global-hotkeys="true">
        <div class="css-1nrq5jk ekakxov0"></div><div class="PopdownV2__popdown css-knt54p">
        <div class="css-gcupj2 ej800vr0">
        <span>Delete</span>
            </div>
              </div>
        </div>
    </div>
</div>