@{
    ViewData["Title"] = "Добавление задания";
}

<!DOCTYPE html>
<html>
<head>
    <title>Добавление задания</title>
</head>
<body>
    <div>
        <h3>Форма добавления задания</h3>

        <form method="post" class="form-horizontal" role="form">
            <input type="hidden" value="@ViewBag.TaskId" name="TaskId" />
            <p>Для добавления задания заполните следующие поля:</p>
            <div class="form-group">
                <label for="Description" class="col-md-2 control-label">Описание:</label>
                <div class="col-md-4">
                    <input type="text" name="Description" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="Start" class="col-md-2 control-label">С:</label>
                <div class="col-md-4">
                    <input type="datetime" name="Start" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="End" class="col-md-2 control-label">По:</label>
                <div class="col-md-4">
                    <input type="datetime" name="End" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Добавить" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>