@model IEnumerable<WebApplication1.Models.Work>
@{
    ViewData["Title"] = "Task List";
}
<h3>Task List</h3>
<body>
    <input type="search" id="searchrec" class="search" placeholder="Search Data ...!" />
    <table class="table" id="workTable">
        <tr>
            <td>#</td>
            <td>Url</td>
            <td>Description</td>
            <td></td>
        </tr>
        @foreach (var work in Model)
        {
            <tr>
                <td>@work.Id</td>
                <td><a href=@work.Url>@work.Url</a></td>
                <td>@work.Description</td>
                <td><a href="~/Home/Start/@work.Id">Старт</a></td>
            </tr>
        }
    </table>
    <!--#region Table row search  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".search").on("keyup", function () {
                var datasearch = $(this).val().toLowerCase();
                $("#workTable tr").each(function () {
                    var stringdata = $(this).text().toLowerCase();
                    if (stringdata.indexOf(datasearch) === -1) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });
            });
        })
    </script>
    <!--#endregion -->
</body>