
@{
    ViewData["Title"] = "timer";
}

<h1>timer</h1>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div>
            <ul class="nav navbar-nav">
                <li><a href="~/App/Projects" class="navbar-brand">Projects</a></li>
            </ul>
        </div>
    </div>
</nav>